*{
    margin:20px;
    background-color:aliceblue;
}
h1{
    text-align:center;
    margin:30px;
    background-color:royalblue;
    color:white;
}
nav{
    text-align:center;
    margin:20px;
    padding:30px;
    background-color:yellowgreen;
}
a {
    margin: 20px;
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
    background-color: yellowgreen;
    color: antiquewhite;
}
.ul2 {
    background-color: gray;
}
.li2 {
    background-color: gray;
}
.flex-container1 {
/*    border: 2px solid black;*/
    background-image:linear-gradient(220deg,yellow,white,yellow);
    display:flex;
    flex-direction:column;
    align-items:center;
}
.flex-container2 {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(220deg,yellow,white,yellow);
}
.flex-item {
    border: 2px solid;
    margin: 20px;
    padding: 30px;
    border-radius: 20px;
    background-color:indianred;
    font-weight: bold;
    color:white;
}
.ul1 {
    background-color:indianred;
}
.li1 {
    background-color:indianred;
    font-weight:bold;
}
.grid-container1{
/*    border:2px solid black;*/
    background-color:forestgreen;
    margin:20px;
    display:grid;
    grid-template-columns:auto auto auto auto;
    column-gap:10px;
    padding:10px;
    justify-content:center;
}
.grid-item{
    height:fit-content;
    width:250px;
    text-align:center;
    font-size:large;
    font-weight:600;
    background-color:aliceblue;
    color:darkgreen;
}
.one {
    grid-area: one1;
/*    border: 1px solid;*/
    padding: 10px;
    font-size: x-large;
    text-align: justify;
    background-color:steelblue;
    color:whitesmoke;
}
.two {
    grid-area: two2;
    /*    border: 1px solid;*/
    padding: 10px;
    font-size: x-large;
    text-align: justify;
    background-color:pink;
    color: whitesmoke;
}
.three {
    grid-area: three3;
    /*    border: 1px solid;*/
    padding: 10px;
    font-size: x-large;
    text-align: justify;
    background-color: palegreen;
    color: whitesmoke;
}
.four {
    grid-area: four4;
    /*    border: 1px solid;*/
    padding: 10px;
    font-size: larger;
    text-align: left;
    background-color: gray;
    color:whitesmoke;
}
.five {
    grid-area: five5;
    /*    border: 1px solid;*/
    padding: 10px;
    font-size: x-large;
    text-align: justify;
    background-color:mediumpurple;
    color: whitesmoke;
}
.grid-container2 {
/*    border: 1px solid;*/
    display: grid;
    grid-template-areas: 'one1 two2 three3 four4''five5 five5 five5 four4';
}
